{% extends 'index.html' %} {% load static %} {% block content %} {% include 'base/navbar.html' %}
<!-- <h1 style="text-align: center; margin-bottom: 2rem">Real Estate Trends</h1> -->

<!-- <h1>Area Name: {}</h1> -->
<div style="margin-top: 5rem">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="container mb-3">
          <form id="form" method="GET" class="border p-3 sticky-top">
            <div class="container mb-3" id="charts-title">
              <i class="fa fa-home" aria-hidden="true" id="home-icon"></i>
              Choose attributes
              <i class="fa fa-refresh" aria-hidden="true" id="refresh-icon" onclick="refreshFilters()"></i>
            </div>
            {% csrf_token %} {% for form_item in form %}
            <div>{{ form_item }}</div>
            <br />
            {% endfor %}
          </form>
        </div>
      </div>

      <div class="col-md-9 align-items-stretch">
        <div id="no-data"></div>
        <div id="available-data">
          <!-- Bar Chart -->
          <div class="container" id="bar-chart">
            <div class="card shadow bg-white rounded">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div id="charts-title">
                    <p class="h6" id="title_bar">Last 10 transactions in Dubai</p>
                  </div>
                  <div id="dialog_community" title="Please choose a Community">Please select a Community name in the left search bar</div>
                  <div id="dialog_project" title="Please choose a Project Name">Please select a Project name in the left search bar</div>
                  <div id="dialog_type" title="Please choose a Property Type">Please select a Property type in the left search bar</div>
                  <div class="container text-end">
                    <a href="{% url 'all-transactions' %}" class="btn btn-primary">
                      <div id="all_transactions_button">See all transactions >>></div>
                    </a>
                  </div>
                </div>
                <!-- <div>
                  <div class="chart-container"> -->
                <canvas class="mt-4" id="myChartbar"></canvas>
                <!-- </div>
                </div> -->
              </div>
            </div>
          </div>
          <!-- Line Chart -->
          <div class="container mt-3 mb-3" id="line-chart">
            <div class="card shadow bg-white rounded">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-6">
                    <div id="charts-title">
                      <p class="h6">Price/sqm dynamics</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="container">
                      <select id="time_period_form" class="form-select form-select-sm" onchange="getTimePeriod()">
                        <option selected value="1Y" id="1Y">Last 1 year</option>
                        <option value="YTD" id="YTD">YTD</option>
                        <option value="5Y" id="5Y">Last 5 years</option>
                        <option value="All" id="All">All</option>
                      </select>
                    </div>
                  </div>
                </div>
                <canvas class="mt-4" id="myChartline"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
  
<!-- Charts Web Version -->
{% include 'base/chart.html' %}
<!-- Charts Mobile Version -->
{% endblock content %}
